
<div data-ng-controller="MenuIndexController">
  <div class="leaflet-control-locate leaflet-bar leaflet-control dropdown-trigger">
    <a ng-click="show_layer_menu();" class="leaflet-bar-part leaflet-bar-part-single" title="GeoJSON layers">GeoJSON Layers</a>
  </div>

  <ul id="layer_menu" class="dropdown-menu bottom-up">
    <li data-ng-class="{disabled: value==null, active: value}" data-ng-repeat="(key, value) in layers">
      <a data-ng-click="toggle( key );">{{key}}</a>
    </li>
  </ul>
</div>