.dropdown-trigger {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.dropdown-trigger a {
  text-indent:-9999px;
  background-image: url(../../vendor/leaflet/images/layers-2x.png);
  background-position: center center;
  background-size: 20px 20px;
  cursor: pointer;
}

.bottom-up {
  position: fixed;
  bottom: 50px;
  right: 10px;
  top:auto;
  left:auto;
}

.bottom-up a {
  cursor:pointer;
}
