
#menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 250px;
  z-index: 0;
  background-color: #fff;
  padding: 5px;
}

#menu h5 {
  text-align: center;
  font-weight: bold;
}

#menu .btn-group-vertical {
  width: 100%;
}

#menu .btn-group-vertical .active {
  width: 100%;
}

.divider-vertical {
  height: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e9e9e9;
}