doctype html
html(data-ng-app="pelias")
  head

    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    // Web Fonts
    //link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans", type="text/css")

    // Core Dependencies
    script(src="/vendor/jquery.min.js")
    script(src="/bower_components/underscore/underscore-min.js")
    script(type="text/javascript", src="/bower_components/angular/angular.js")

    // Twitter Bootstrap
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/bower_components/font-awesome/css/font-awesome.css")

    // Leaflet
    link(rel="stylesheet", href="/vendor/leaflet/leaflet.css")
    script(type="text/javascript", src="/vendor/leaflet/leaflet.js")
    script(type="text/javascript", src="/vendor/leaflet-providers.js")
    script(type="text/javascript", src="/vendor/TileLayer.GeoJSON.js")

    // Leaflet Locate Control
    link(rel="stylesheet", href="/vendor/L.Control.Locate.css")
    script(type="text/javascript", src="/vendor/L.Control.Locate.js")

    // Leaflet Fullscreen Control
    link(rel="stylesheet", href="/vendor/leaflet.fullscreen.css")
    script(type="text/javascript", src="/vendor/Leaflet.fullscreen.min.js")

    // Geo Tools
    script(type="text/javascript", src="/vendor/latlon.js")
    script(type="text/javascript", src="/vendor/geo.js")

    // Leaflet Zoom Control
    link(rel="stylesheet", href="/vendor/L.Control.ZoomMin.css")
    script(type="text/javascript", src="/vendor/L.Control.ZoomMin.js")

    // Leaflet Context Menu Control
    link(rel="stylesheet", href="/vendor/leaflet.contextmenu.css")
    script(type="text/javascript", src="/vendor/leaflet.contextmenu.js")

    // Stylesheets
    link(rel="stylesheet", href="/style/layout.css")

    // Angular JS App
    script(src="/app.js")
    script(src="/services.js")

    // ========= Features =========

    // Home
    script(src="/feature/home/IndexController.js")
    script(src="/feature/home/init.js")

    // Menu
    script(src="/feature/menu/IndexController.js")
    link(rel="stylesheet", href="/feature/menu/menu.css")

    // Results
    script(src="/feature/results/IndexController.js")
    link(rel="stylesheet", href="/feature/results/results.css")

    // Header
    script(src="/feature/header/IndexController.js")
    link(rel="stylesheet", href="/feature/header/header.css")

    // Map
    script(src="/feature/map/IndexController.js")
    script(src="/feature/map/init.js")
    link(rel="stylesheet", href="/feature/map/map.css")

    // .. more features

  // Pass View & Session Variables from Server Side to Angular
  body(ng-init="user=#{JSON.stringify(user)}; config=#{JSON.stringify(config)};")

    .header-container(data-ng-include="'/feature/header/header.html'")

    .container
      .results-container(data-ng-include="'/feature/results/results.html'")
      .menu-container(data-ng-include="'/feature/menu/menu.html'")

      // Main Content Section
      #main(data-ng-view="")