<header id="header" ng-controller="HeaderIndexController">
  <section id="branding">
    <img class="logo" src="/mapzen_logo_icon.png" alt="mapzen" />
    <p id="mapzen-logo">mapzen</p>
    <p id="pelias-logo">pelias</p>
    <p id="geobase"><i class="glyphicon glyphicon-map-marker" /> {{geobase}}</p>
    <ul class="shortcuts">
      <li><a ng-click="shortcut([51.505, -0.124], 12);">London</a></li>
      <li><a ng-click="shortcut([40.7259253, -73.9805603], 12);">New York</a></li>
      <!-- <li><a ng-click="shortcut([48.858864, 2.346986], 12);">Paris</a></li> -->
      <li><a ng-click="shortcut([40.4127118, -3.7034225], 12);">Madrid</a></li>
      <li><a ng-click="shortcut([28.6457035, 77.2356033], 12);">Delhi</a></li>
      <li><a ng-click="shortcut([-37.8171749, 144.9632263], 14);">Melbourne</a></li>
      <li><a ng-click="shortcut([-41.2903189, 174.7790909], 15);">Wellington</a></li>
    </ul>
  </section>
  <section id="searchbar">
    <form role="search">
      <div class="input-group">
        <input type="text" ng-model="search" class="form-control" placeholder="Search" />
        <div class="input-group-btn">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span ng-bind="dataset"></span>&nbsp;&nbsp;&nbsp;<span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li ng-repeat="(key, value) in datasets">
              <a ng-click="selectDataset(key)">{{value}}</a>
            </li>
          </ul>
        </div> <!-- /btn-group -->
      </div>
    </form>

    <ul id="results">
      <li ng-repeat="result in results">
        <a ng-click="selectResult(result)">
          <i class="glyphicon glyphicon-{{result.icon}}" />
          <span ng-bind-html-unsafe="result.htmltext"></span>
        </a>
        <div class="aside">
          <em class="label label-info">{{result.distance}}km</em><a class="label label-primary" href="{{result.refurl}}" target="es">{{result.score}}</a>
        </div>
      </li>
    </ul>
  </section>
</header>