
#header {
  height: 60px;
  line-height: 50px;
  z-index: 1001;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 55px;
  background: #fff;
}

#header #branding,
#header #searchbar {
  float: left;
  /*display: block;*/
}

#header #searchbar {
  margin-left: 300px;
  width: 800px;
}

#header img.logo {
  position: absolute;
  left: 10px;
  top: 5px;
}

#header p#mapzen-logo,
#header p#pelias-logo,
#header p#geobase {
  position: absolute;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  font-family: 'arial' sans-serif;
  left: 73px;
}

#header p#mapzen-logo {
  left: 72px;
  font-size: 17px;
  top: -9px;
}

#header p#pelias-logo {
  font-size: 10px;
  top: 4px;
}

#header p#geobase {
  left: 71px;
  font-size: 10px;
  top: 18px;
  letter-spacing: normal;
}

#header .shortcuts {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 205px;
  top: 5px;
  width: 100px;
}

#header .shortcuts li,
#header .shortcuts li a {
  margin: 0;
  padding: 2px;
  font-size: 9px;
  line-height: 9px;
  float: left;
  width: 50px;
  /*background-color: blue;*/
}

#header #searchbar form {
  margin: 0;
}

#header #searchbar form input,
#header #results {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  width: 650px;
}

#header #searchbar form input {
  padding: 5px 10px;
}

#header #searchbar form .input-group {
  padding-right: 8px;
  width: 100%;
}

#header #searchbar form ul a:hover {
  cursor: pointer;
}

#header #searchbar form button {
  width: 150px;
}

#header #results {
  margin-top: -11px;
  width: 648px;
  list-style: none;
  background-color: #fff;
  box-shadow: 2px 2px 1px #ccc;
}

#header #results li {
  margin: 0;
  padding: 0;
  display: block;
  padding: 0 10px;
  line-height: 40px;
  border-top: solid 1px #ddd;
  border-left: solid 1px #ddd;
  clear: both;
}

#header #results li a {
  margin: 0;
  cursor: pointer;
}

#header a:hover {
  text-decoration: none;
  /*background-color: #efefef;*/
  cursor: pointer;
}

#header #results a span {
}

#header #results .aside {
  float:right;
  margin-top: 0px;
}

#header .label {
  padding: 8px 5px;
}

#header #results .aside em {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#header #results .aside a {
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#header #results .aside a:hover {
  background-color: rgba(66, 139, 202, 0.8);
}