
#resultpane {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  width: 300px;
  z-index: 0;
  /*background-color: #563630;*/
  padding: 5px;
  overflow: auto;
  background-color: rgba( 255, 255, 255, 0.6 );
}

#resultpane ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  text-indent: 0;
  list-style: none;
}

#resultpane li {
  background-color: #fff;
  padding: 5px;
  border-top: solid 1px #ddd;
  border-left: solid 1px #ddd;
  box-shadow: 2px 2px 1px #ccc;
  margin-bottom: 5px;
}

#resultpane li em {
  color: #888;
}

#resultpane li a:hover {
  cursor: pointer;
}

#resultpane table {
  margin-top: 5px;
  margin-bottom: 0;
}